@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');

body{
  font-family: 'Baloo Tamma 2', cursive;
  color: #272C34
}

.Home-page__header{
  display: flex;
  justify-content: center;
  text-align: center;
}

.Home-page__body{
  max-width: 1200px;
  margin: 0 auto;
}

.Posts-page{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

.Post-item{
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}

.Post-item__header{
  color: #4dabf5;
  font-size: 18px;
  font-weight: bold;
  line-height: 4px;
  text-align: center;
}

.Post-item__author, .Post-item__id{
  opacity: 0.8;
}

.Post-item__title{
  font-size: 1.2rem;
  font-weight: bold;
  opacity: 0.95;
}

.Post-item__post{
  margin: 15px 0;
  font-weight: bold;
  opacity: 0.95;
}

.Post-item__btn{
  text-align: center;
}

.Link-style{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.dark-text{
  color: #282c34
}

.Login-form{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
} 

.Login-form__form{
  display: flex;
  justify-content: center;
}

.Login-form__error{
  color: red;
  margin-top: 20px;
}

.Appbar-logout{
  display: flex;
  justify-content: center;
}

.Appbar-logout__user{
  color: tomato;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: 20px;
}

.Post-List{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Post-list_info{
  text-align: center;
  margin-bottom: 40px;
}

.Post-Page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Post-Page__comments{
  max-width: 1200px;
  margin: 0 auto;
}

.Post-Page__button{
  margin: 30px 0;
}

.Post-Page__header{
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  opacity: 0.9;
}

.Post-Page__button, .Post-Page__comments, .Post-Page__post{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Comment-item{
  background: #eef0f5;
  border: 1px solid #d0d6ee;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 15px 0px 15px;
  max-width: 900px;
  overflow: hidden;
  -webkit-box-shadow: 2px 12px 35px -13px rgba(65,70,120,1);
  -moz-box-shadow: 2px 12px 35px -13px rgba(65,70,120,1);
  box-shadow: 2px 12px 35px -13px rgba(65,70,120,1);
}

.Comment-item__author{
  font-weight: bold;
  font-size: 0.8rem;
}

.Home-page__albums-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Home-page__btn{
  margin: 40px 0px 20px 0px;
  text-align: center;
}

.Home-page__block > h3, .Home-page__albums > h3{
  margin-top: 90px;
  text-align: center;
}

.Album-Page{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

.Albums-list__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Album-item{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 15px;
  width: 220px;
  height: 320px;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}

.Album-item__tilte{
  height: 90px;
}

.Album-item__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.Album-item__header{
  color: #f73378;
  font-size: 18px;
  font-weight: bold;
  line-height: 4px;
}

.Album-item__link{
  text-decoration: none;
}

.Album-item__icon > svg{
  color: #bababa;
  font-size: 120px;
}

.Album-page {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.Album-page__items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Album-page_info{
  margin-bottom: 40px;
}

.Photo-item{
  position: relative;
  background: #cfcfcf;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}

.Photo-item:hover{
  opacity: 0.5;
}

.Photo-item__title{
  position: absolute;
  bottom: -10px;
  display: none;
}

.All-user-profiles a{
  text-decoration: none;
}

.All-user-profiles__items{
  display: flex;
  padding: 10px;
  margin: 10px 0;
  color: #282c34;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}

.All-user-profiles__title{
  text-align: center;
  font-size: 1.5rem;
}

.User-profile__form{
  max-width: 900px;
  margin: 0 auto;
}

.User-profile__item{
  background: #efeff2;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  min-height: 29px;
  -webkit-box-shadow: 2px 12px 35px -16px rgba(64,64,64,1);
  -moz-box-shadow: 2px 12px 35px -16px rgba(64,64,64,1);
  box-shadow: 2px 12px 35px -16px rgba(64,64,64,1);
}

.User-profile__item input {
  font-family: 'Baloo Tamma 2', cursive;
  margin-top: -2px;
}

.User-profile__item input::-webkit-outer-spin-button,
.User-profile__item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.User-profile__btn-group{
  margin-top: 30px;
}

.User-profile__buttons{
  display: flex;
  justify-content: space-between;
}

.User-menu__link{
  font-family: 'Baloo Tamma 2', cursive;
  color: #272C34;
}

.Light_box__close{
  width: 50px;
  height: 50px;
  border-radius:50px;
  position: absolute;
  right: 0;
  border:none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.Light_box{
  box-sizing: content-box;
  position: relative;
}

.Light_box__title{
  position: absolute;
  bottom: 0;
  left: 20px;
  overflow: hidden;
  opacity: 0.7;
}

.Light_box__image{
  display: flex;
}

.Light_box__image > img {
  width: 100%;
}

.Page404{
  margin-top: 100px;
  text-align: center;
}

.my-link{
  text-decoration: none;
}

.my-progress{
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 450px){
  .Link-style{
    font-size: 16px;
  }
  .Appbar-logout{
    display: block;
    text-align: right;
  }
  .Appbar-logout__user{
    display: block;
    margin: 0;
  }
  .Light_box__title{
    font-size: 0.7rem;
  }
}
