@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');

body{
  font-family: 'Baloo Tamma 2', cursive;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.Link-style{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.dark-text{
  color: #282c34
}

.Login-form{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
} 
.Login-form__form{
  display: flex;
  justify-content: center;
}
.Login-form__error{
  color: red;
  margin-top: 20px;
}
.Appbar-logout{
  display: flex;
  justify-content: center;
}
.Appbar-logout__user{
  color: tomato;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin-right: 20px;
}
.Post-List{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.Post-Page{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.Post-Page__button, .Post-Page__comments, .Post-Page__post{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comment-item{
  background: #e8edff;
  border: 1px solid #9bb0fa;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5px;
  max-width: 1200px;
}

.Home-page__albums-items{
  display: flex;
  flex-wrap: wrap;
}
.Album-Page{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}
.Album-Page__progress{
  text-align: center;
  margin-top: 10px;
}
.Albums-list__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Album-item{
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin: 15px;
  width: 220px;
  height: 320px;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}
.Album-item__tilte{
  height: 90px;
}
.Album-item__block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}
.Album-item__header{
  color: #ed5151;
  font-size: 18px;
  font-weight: bold;
  line-height: 4px;
}
.Album-item__link{
  text-decoration: none;
}

.Album-item__icon > svg{
  color: #bababa;
  font-size: 120px;
}

.Album-page {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}
.Album-page__items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Album-page_info{
  margin-bottom: 40px;
}
.Photo-item{
  position: relative;
  background: #cfcfcf;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin: 10px;
  -webkit-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
  box-shadow: 1px 4px 31px -7px rgba(0,0,0,0.75);
}
.Photo-item__title{
  position: absolute;
  bottom: -10px;
  display: none;
}
@media screen and (max-width: 450px){
  .Link-style{
    font-size: 16px;
  }
  .Appbar-logout{
    display: block;
    text-align: right;
  }
  .Appbar-logout__user{
    display: block;
    margin: 0;
  }
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
